<h1>Welcome to The Bees’ Needs Data Entry and Photo Upload Site</h1><br>
<p>If this is your first time here, you will need to <strong><%= link_to "register your bee block.", new_block_path %></strong>
</p>
<h3>If you’ve previously registered your bee block, <strong><%= link_to "click here to Enter Data", new_report_path %></strong>
</h3>
