
<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</p>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render "first_page", :f => f %>


  
<% end %>
