<footer class="footer">
  <div class = "container">
  <small>
    <%= link_to "The Bees Needs",'http://beesneeds.colorado.edu/'%>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Us",   "/pages/info" %></li>
    </ul>
  </nav>
  </div>
</footer>